<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's the Weather Over Here</title>
</head>
<body>
    <main>
        <article class="forcast">
            <div class="">
                <h1 class="title">
                    Todays forcast in <%= locals.address %> is 
                </h1>
                <h2><%= locals.description %></h2>
                <img src="https://openweathermap.org/img/wn/<%= locals.icon %>@4x.png"/>
            </div>
            <div>
                <span class="temperature">
                    <%= locals.temp %> °
                    <% if (locals.units === "imperial") { %>
                     F
                     <% } else { %>
                      C
                    <% } %>
                </span>
                <span class="humidity">
                    Humidity: <%= locals.humidity %>%
                </span>
                <span class="wind">
                    Wind: 
                    <% if (locals.units === "imperial") { %>
                        <%= locals.wind %> MPH
                        <% } else { %>
                         <!-- Convert metres/sec to km/h -->
                         <%= locals.wind * 3.6  %> KM/H
                       <% } %>
                </span>
            </div>
        </article>
    </main>
</body>
</html>